{{#each this}}
<div class="country_div">
  <img class="flag" src="{{flag}}" alt="Flag of {{name}}">
  <h2>{{name}}</h2>
  <p>{{capital}}</p>
  <p>{{papulation}}</p>
  <ul>
      {{#each languages}}
    <li>{{this.name}}</li>
    {{/each}}
  </ul>
</div>
{{/each}}